/* Asterix wildcard to override default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header styling */
header {
    background-color: darkgoldenrod;
}
/* Main content styling */
main {
    background-color: #ffffff;
}
/* Footer styling */
footer {
    background-color: darkgoldenrod;
}